<% if user_signed_in? %>
<h1>Bienvenue <%= current_user.name %>  !</h1>
<%= link_to 'Mes articles', controller: 'articles' %>
<%= link_to 'Deconnexion', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to 'Connexion', new_user_session_path %>
<% end %>